//$var-name: value
//$name

$corporate-color: pink;

.main {
  .container {
    width: 50%;
    margin: 0 auto;
    color: $corporate-color;
    border: 1px solid $corporate-color;
  }

  .post {
    text-align: center;
    color: $corporate-color;
    border: 1px solid $corporate-color;
  }

  .title {
    font-weight: bolder;
    font-size: 30px;
    color: black;
    background-color: $corporate-color;
  }

}