ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
@import './components/wrapper';
@import './components/header';
@import './components/logo';
@import './components//nav';
@import './components/search';
@import './components/button';
@import './components/footer';
@import './components/main';