html
    body 
        //- div(class="container", align="center")
        //-     input(type="text", value="valera2")
        //-     .row hello world
        //- .block 
        //- - isHiiden = false;
        //- - className = 'container'
        //- - text = 'some span text'


        //- if(isHiiden)
        //-     div hello world
        //- else 
        //-     div hello word hidden
        //-         span(class=className) #{text}

        //- -list = ['item-1', 'item-2', 'item-3', 'item-4'];
        //-     ul
        //-         -for(i = 0, size = list.length; i < list.length; i++)
        //-             li #{list[i]}
    