* {
    box-sizing: border-box;
}

.users {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.user {
    width: 30%;
    border: 1px solid black;
    background-color: #eee;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
}

.user__info {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.user__avatar {
    width: 45%;
    background-color: black;
}

.user__description {
    height: 50px;
    overflow: hidden;
}

.user__description {
    background-color: red;
    padding: 10px;
    width: 100%;
}

.discharged {
    background-color: red;
    padding: 10px;
    width: 30%;
}